@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 10vw;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

nav {
    background: linear-gradient(to right, rgb(102, 210, 224), rgb(15, 59, 71));
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

#h1nav {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}



ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
}

.search_container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espacio entre elementos */
    background-color: white;
    padding: 10px; /* Reduce padding innecesario */
    border-radius: 20px;
    height: 40px;
    width: 100%; /* Ajusta el tamaño al 100% del contenedor */
    max-width: 300px; /* Ancho máximo para mantener la responsividad */
}

.oculto {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espacio entre elementos */
    background-color: white;
    padding: 10px; /* Reduce padding innecesario */
    border-radius: 20px;
    height: 40px;
    width: fit-content; /* Ajusta el tamaño al contenido */
    visibility: hidden;
}

.search_container i {
    font-size: 18px;
    color: rgb(15, 59, 71);
}

input {
    padding: 5px;
    border: none;
    outline: none;
}

input:focus {
    outline: none;
    border: none;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(56, 176, 212);
    border-radius: 5px;
    color: white;
    border: none;
}

.content-container {
    width: 100vw;
    height: 100vh;
    background-image: url('brackgroundhome.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
}


.content-container h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
    padding-left: 10%;
    padding-top: 6%;


}

.content-container p {
    font-size: 20px;
    color: white;
    max-width: 425px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 3%;
    padding-top: 1%;
    padding-left: 10px;
    padding-bottom: 1%;
    justify-content: start;
    background-color: rgba(47, 53, 58, 0.699);
    margin-left: 10%;
    border-radius: 5%;
}

.content-container button {
    padding: 10px;   
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.151);
    margin: 30px;
    margin-left: 10%;
    background-color: rgba(7, 51, 65, 0.863);
    margin-top: 3%;
}

.social-container {
    position: fixed;
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    padding: 60px 10px; /* Espacio dentro del fondo */
    border-radius: 10px; /* Bordes redondeados */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre iconos */
}

.social-icons::before {
    content: "";
    width: 2px; /* Grosor de la línea */
    height: 200px; /* Longitud de la línea */
    background-color: #ffffff; /* Color de la línea */
    margin-bottom: 50px; /* Espacio entre la línea y los iconos */
}

.social-icons a {
    color: white; /* Color de los iconos */
    font-size: 24px; /* Tamaño de los iconos */
    transition: 0.3s;
}

.social-icons a:hover {
    color: #00aaff; /* Cambia el color al pasar el cursor */
}

.aboutus-container {
    width: 100vw;
    height: 100vh;
    background-image: url('brackgroundhome.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}


.aboutus-container h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: bold;
    margin-top: 10%;

}

.aboutus-container p {
    font-size: 20px;
    color: white;
    max-width: 1500px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 3%;
    padding-top: 1%;
    padding-left: 10px;
    padding-bottom: 1%;
    justify-content: start;
    background-color: rgba(5, 5, 5, 0.521);
    margin-left: 10%;

    border-radius: 5px;
    
   
}

.aboutus-container button {
    padding: 10px;   
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.151);
    margin: 30px;
    margin-left: 10%;
    background-color: rgba(7, 51, 65, 0.863);
    margin-top: 3%;
}
.team-container {
    margin: 5%;
    margin-left: 13%;
    margin-right: 12%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
    border-radius: 10%;
    


    
}

.cites-container {
    position: absolute;
    right: 80px; /* Ajusta la distancia desde el borde izquierdo */
    margin-top: 25%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    padding: 60px 10px; /* Espacio dentro del fondo */
    border-radius: 10px; /* Bordes redondeados */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    height: 700px;
    width: 650px;
}


.members {
    background-color: rgba(0, 0, 0, 0.822);
    padding: 10px;
    border-radius: 10%;
    height: 170px;
    width: 300px;
    
}

.members p {
    font-size: 16px;
    background-color: none ;
    
    
    
}

.team-container h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.team-container h3 {
    color: white;
    font-size: 20px;
    margin-left: 10%;
    padding-top: 40px;
}

.team-container h4 {
    color: rgb(168, 168, 168);
    font-size: 15px;
    margin-left: 10%;
    max-width: 200px;
    
}
.team-container button {
    
    width: max-content;
}

.contactus-container {
    width: 100vw;
    height: 100vh;
    background-image: url('brackgroundhome.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: linear-gradient(to right, rgba(102, 210, 224, 0.685), rgba(15, 59, 71, 0.801));

    position: absolute;
}


.contactus-container h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: bold;
    margin-top: 17%;
}

.contactus-container p {
    font-size: 20px;
    color: white;
    max-width: 125px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 3%;
    padding-top: 1%;
    padding-left: 10px;
    padding-bottom: 1%;
    
    background-color: rgba(5, 5, 5, 0.521);
    margin-left: 10%;
    
   
}

.contactus-container button {
    padding: 10px;   
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.151);
    margin: 30px;
    margin-left: 10%;
    background-color: rgba(7, 51, 65, 0.863);
    margin-top: 3%;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px; /* Adjust the max-width as needed */
    margin-right: 50px;
    background-color: rgba(7, 51, 65, 0.671);
    padding: 20px;
    border-radius: 5px;
    gap: 15px;
}

#message {
    height: 150px;
    background-color: rgba(7, 51, 65, 0.452);
    border-radius: 5px;
    resize: none;
    outline: none;
    color: white;
    padding: 5px;
}

.form-container label {
    color: white;
}

.form-container input {
    background-color: rgba(7, 51, 65, 0.452);
    border-radius: 5px;
    height: 40px;
    color: white;
    padding: 5px;
}